{% extends 'base.html' %}

{% block content %}

<form method="post">
    {% if name %}
        <h1>Hello {{ name }}</h1>
        <h1>You are from {{ address }}</h1>

    {% else %}
        {{ form.hidden_tag() }}

        {{ form.name.label(class="form-label")}}
        {{ form.name(class="form-control")}}
        </br>

        {{ form.address.label(class="form-label")}}
        {{ form.address(class="form-control")}}
        </br>

        {{  form.submit(class="btn btn-outline-primary")}}
    {% endif %}

    

</form>

{% endblock %}